body {
    background: #eee;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
  }

.intro {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB; 
    display: flex; 
    flex-direction: column;
    gap:8px;
    padding: 1em 2em 2em;
}
p{
    font-size: 18px; 
}

.header{
    display: flex; 
    justify-content: space-around;
    flex-flow: row wrap;
    width:100%;
    align-self: stretch;
    padding: 8px;
}

.hero{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    padding: 1em 2em;
    margin: 5em;
}

.hero-image{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}


ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display:flex;
    margin: 0%;
    padding: 0%;
    gap:8px;
  
  }

a {
    font-size: 18px; 
    color:white;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
} 

.info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    gap: 52px;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #192F37;
    margin: 32px;
}
.content{
    text-align: center;
    max-width: 200px;
    margin: 32px;
}

.info-img{
    width: 200px;
    height: 200px;
    border:  4px solid #3882F6;
    border-radius: 16px;
}

.quote{
    display: flex;
    flex:1;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 36px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-text{
    display:flex;
    align-items: center;
    justify-content: center;
}

.author{ 
    margin:1em;
    text-align: end;
    display: flex;
    justify-content: flex-end;
}

.cta{
    display: flex;
    flex-direction: column;
    margin: 64px;
}

.cta-content{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    padding:2.5em 0;
    color:white;
}

.cta-button{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2.5em;
}

.footer{
    display:flex;
    justify-content: center;
}

button{
    background-color:#3882F6;
    color: white;
    border: 1px solid #eee;
    display: block; 
    margin: 0 auto;
    padding: 8px 24px;
    border-radius: 4px;
}