body {
    background: #eee;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }

.hero,
.header{
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;

}